* {box-sizing:border-box;}

      body{margin:0px;}

      .head{
      background-color:#cc3300;
      color:red;
      font-size:25px;
      text-align:center;
      text-transform:capitalize;
      position:-webkit-sticky;
      position: sticky;
      top:0px;
      overflow:hidden;
      }


       .foot{
      background-color:#cc3300;
      padding:20px;
      color:white;
      font-size:25px;
      text-align:center;
      text-transform:capitalize;
      position:fixed;
      bottom:0px;
      width:100%;
      overflow:hidden;
      }

      .foot a{
      text-decoration:none;
      color:white;
      }

      .head a {
      text-transform:capitalize;
      float:right;
      padding:20px;
      font-size:25px;
      text-decoration:none;
      color:white;
      }

      .head a:hover{
      background-color:white;
      color:black;
      }

      .column {
      float:left;
      padding:25px;
      }

   .menu {
      width: 25%;
      }
      .menu li{
      padding: 8px;
      margin-bottom: 8px;
      background-color: #33b5e5;
      color: #ffffff;
      text-align:center;
      }

      #mysidenav b{
      top:160px;
      color:white;
/*         z-index:1;*/
      font-size:30px;
      float:right;
      }

      #mySidenav a {
      position: fixed;
      left: -115px;/*80*/
      transition: 0.3s;
      padding: 15px;
      width: 168px;/*100*//*110*//*145*//*155*/
      text-decoration: none;
      font-size: 20px;
      color: white;
      border-radius: 0 5px 5px 0;

}

#mySidenav a:hover {
      left: 0;
      }

#about {
    top: 100px;
    background-color: #55ff55 /*#4CAF50;*/
}

#wed {
    top: 160px;
    background-color: #2196F3;
}

#DJ {
    top: 220px;
    background-color: #f44336;
}

.content{
    margin-left:75px;
    font-size:30px;
    margin-right:50px;
}
#city_t {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    margin-left:75px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#city_t:focus {
    width: 90%;
}

.tb {
    width: 130px;
    /*box-sizing: border-box;*/
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*margin-left:75px;*/
}

.tb_cc{
 width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
}

#frmd{
font-size:20px

}


 .l{
    position:absolute;
    left:20px;
    top:15px;
    z-index:1;
 }

 .l_log {
position:absolute;
	float:centre;
    left:670px;
    top:10px;
    z-index:1;
 }

 #cor {
    top: 280px;
      background-color: #2196F3;
 }
 #far {
     top: 360px;
      background-color: #f44336;
 }
 #an{
     top:280;
     background-color: #2196F3;
 }
 #exhi{
     top:360;
      background-color: #f44336;

 }

 .images {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

.images a {
    margin: auto;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card {
    width:100% !important;
    background-size: cover;
    height: auto;
    background-position: center;
    border-radius: 5px 5px 0px 0px;
    background-repeat: no-repeat;
    overflow: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.contain{
    padding: 2px 16px;

}

.contain_con{
    font-size:25px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    text-decoration:none;
    color:black;
}

.logo{
    position:fixed;
}


.images a:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.offer{
    background-color:#ffff00 /*#ffff66*/;
    margin-right:25px;
}

.rate_table{
    text-transform:capitalize;

}
.table_foot{
    text-transform:uppercase;
}
.about{
    background-color:#99ff99;
    margin-right:25px;
    text-transform:capitalize;
}
.u{
    text-transform:uppercase;
}
.faq{
    background-color:#19fff4/*#80ffff;*/
    margin-right:25px;
}
.event{
   text-transform:uppercase;
}

.bt{
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.book_button{
    border-color: #2196F3;
  color: dodgerblue
}
.book_button:hover{
    background:#2196f3;
    color:white;

}

.fs {
	margin-right:200px;
	margin-left:200px;
}
/* .formback{
    background-color:#eeeeee;
    width:98.5%;
    border-radius:20px;
    padding:20px;
    font-size:25px;
    color:black;
}
.formback table{
    font-size:20px;
}
.formback input{
  padding: 10px;
}
.formback textarea{
  padding: 10px;
  resize: none;
}


.formback input[type="text"],.formback input[type="password"]{
    width:50%;
    border-radius:4px;
}
.formback textarea{
    width:50%;
    border-radius:4px;
}*/
.frmbtn{
    width:30%;
    left: 50%;
    padding:16px;
    font-size:25px;
    background-color:#cc3300;
    color:rgba(255, 255, 255, 0.856);
    border-radius:10px;
}
.frmbtn:hover{
    background:white;
    border:2px solid #cc3300;
    color:#cc3300;
} 

input[type=text], input[type=date], input[type=textbox], input[type=password], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.formback input:focus,.formback textarea:focus{
  border:1px solid #cc3300;
  transition:0.2s;
}

.col-1 {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* input[type=submit] {
  left: 50%;
  background-color: #cc3300;
  color:rgba(255, 255, 255, 0.856);
  font-size:25px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background:white;
    border:2px solid #cc3300;
    color:#cc3300;
} */

.frmtable {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size:20px;
}

.col-1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-2 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-2 select, input[type=date], input[type=textbox]{
  width: 150px;
}

@media screen and (max-width: 700px) {
  .col-1, .col-2, .frmbtn {
    width: 100%;
    margin-top: 0;
  }
}

.popup {
    position: absolute;
    /* top: -100%; */
    /* left:-25%; */
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup*/
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* CSS for menubar */

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  nav{
    background: #cc3300;
    height: 80px;
    width: 100%;
    position:-webkit-sticky;
    position: sticky;
    top:0px;
    overflow:hidden;
    font-size:25px;
    text-align:center;
      

  }
  label.logo{
    color: #f2f2f2;
    font-size: 33px;
    line-height: 80px;
    padding: 0 140px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  nav ul{
    float: right;
    margin-right: 60px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 2px;
    color: #f2f2f2;
  }
  nav ul li.active,nav ul li:hover{
    background: #ffffff;
    transition: .3s;
    color:#cc3300;
  }
  nav ul li a{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    padding: 30px 23px;
    border-radius: 3px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
  }
  
  nav ul li a.active,nav ul li a:hover{
    background: #ffffff;
    transition: .5s;
    color:black;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 27px;
      padding-left: 25px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
      margin-right: 40px;
      margin-top: 20px;
      padding: 3px 6px;
      border:1.5px solid white;
      border-style: hidden;
      
    }
    .checkbtn:hover{
      border-style: solid;
      padding: 3px 6px;
      border-radius: 3px;
    }
    
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #ed4b1a;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 2;
    }
    nav ul li{
      display: block;
      margin: 5px 0;
      line-height: 75px;
    }
    nav ul li a{
      font-size: 20px;
      padding: 25px 30%;
    
    }
    /* a:hover,a.active{
      background: none;
      color: #cc3300;
    } */
    #check:checked ~ ul{
      left: 0;
    }
  }
